
/* .slick-arrow::before,.slick-prev::before, .slick-next::after, .slick-arrow::after{
    display:none
}

/* 
.slick-prev, .slick-arrow{
    left:0;
    top:0;
    background:yellow;
    z-index:100;
} */ 




